@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,900;1,100&display=swap')

$background-font-size: 41vw
$font-headings: 'Raleway', sans-serif
$font-terminal: "Lucida Console", "Courier New", monospace