@import url('https://fonts.googleapis.com/css?family=Noto+Sans')
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,900&display=swap')

$background-color: #1e1e1e
$background-color-lighter: #262626
$background-color-lightest: #343434
$text-color: #D4D4D4
$text-color-dark: #cacaca
$text-color-darker: #a2a1a1
$text-color-darkest: #818181
$highlight-color: #2e9e9a

$background-font-size: 41vw

$font-headings: "Noto Sans", sans-serif
$font-terminal: "Lucida Console", "Courier New", monospace
