$background-color: #1E1E1E
$alt-background-color: #262626
$foreground-color: #D4D4D4
$background-font-size: 41vw
$desc-color: #cacaca
$tag-color: #a2a1a1
$highlight-color: #0078d7

:export
    highlightColor: $highlight-color