.aboutMeContainer
    height: 100%
    width: 100%

.aboutMeLeftSide
    display: inline-block
    width: 50%
    float: left
    
.aboutMeRightSide
    display: inline-block
    width: 50%

.aboutIntro
    margin-top: 10%
    margin-left: 2%
    text-align: left 
    
.aboutText
    box-sizing: border-box
    padding: 2%
    line-height: 1.9rem
    font-size: calc(0.6vw + 12px)


@media only screen and (max-width: 1000px)
    .aboutText
        width: 90%