.aboutMeWrapper
    width: 100%
    
.aboutMeContainer
    width: 1180px
    vertical-align: middle
    margin: auto
    
.aboutIntro
    display: block
    margin: 13% 0 2% 0 
    text-align: left

.aboutInfoHeader
    font-weight: bold
    font-size: 2rem
    line-height: 2.5rem
    width: 555px
    margin: 0

.aboutInfo
    line-height: 2rem
    width: 555px

.aboutLeft
    float: left
    padding-right: 70px

.aboutRight
    display: inline

.aboutMeImage
    border-radius: 10px
    width: 555px

.musicIntro
    padding-top: 4%

.musicIntro::after
    content: '*Within the last month'
    display: block
    font-size: 0.8rem
    font-weight: normal
    text-shadow: none

.spotifyFrameInfo
    font-size: 1.5rem
    text-align: center
    padding-bottom: 4%
    font-style: italic
    font-weight: bold

.aboutMusic
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap

@media only screen and (max-width: 1200px)
    .aboutMeContainer
        width: 85%

    .aboutIntro
        display: inline-block
        width: 30%
    
    .aboutInfoHeader
        width: 100%

    .aboutInfo
        width: 100%

    .aboutLeft
        float: none
        padding: 0
    
    .aboutMeImage
        width: 100%

    .spotifyFrameInfo
        padding-top: 5%
    