.contactFormContainer
    

form p:not(:first-child)::after
    content: "*"
    width: 0
    height: 0
    color: red

.contactForm
    width: 30%
    margin: 8% auto auto auto

.contactSubmit
    margin-right: auto
    margin-left: auto
    margin-top: 5%
    text-decoration: none
    padding: 3% 5% 3% 5%
    border: 0

