@use 'styles' as *

.contactBackgroundText
    font-size: 24vw
    transform: translate(-50%, -50%) rotate(15deg)
    text-shadow: none

.contactForm
    position: relative
    width: 50%
    margin: 5% auto auto auto

.inputContainer
    position: relative
    padding-bottom: 40px

.inputContainerBottom
    position: relative
    padding-bottom: 10px

label
    font-family: $font-headings
    color: $text-color-darkest
    position: absolute
    top: 0.6rem
    left: 0.12rem
    font-size: 20px
    pointer-events: none
    transition: transform .2s

.requiredInput::after
    content: '*'
    display: inline-block
    color: red
    font-size: 15px
    transform: translateY(-7px)

.txtAreaLbl
    top: 2px

.textInput
    font-family: $font-headings
    font-size: 20px
    width: 100%
    height: 45px
    min-height: 25px
    background-color: $background-color-lighter
    border: 0
    border-bottom: 1px solid $highlight-color
    resize: none

.textInput:focus + label, .textInput:not(:placeholder-shown) + label
    transform: translate(0, -2.5rem)
    color: $text-color
    transition: transform .2s

.textInput:focus + .requiredInput::after, .textInput:not(:placeholder-shown) + .requiredInput::after
    display: none

.resizable
    resize: vertical
    min-height: 75px
    max-height: 30vh
    overflow: auto

.validationLabel
    text-align: right

.validationLabel::before
    content: '*'
    color: red

.contactSubmit
    font-size: 20px
    font-family: $font-headings
    font-weight: 700

    margin-right: auto
    margin-left: auto
    margin-top: 5%

    text-decoration: none
    color: $text-color
    background-color: $background-color
    border: .05em solid $text-color
    border-radius: .2em
    padding: .5em 1em .5em 1em
    transition: color .2s, background-color .2s

.contactSubmit:hover
    cursor: pointer
    background-color: $text-color
    color: $background-color
    transition: color .2s, background-color .2s

.invalidInput
    border-color: red

@media only screen and (max-width: 1000px)
    .contactForm
        width: 80%
        margin-top: 10vh