@use 'variables'
@use 'functions'

html *
    color: variables.$text-color

body
    background-color: variables.$background-color
    font-family: variables.$font-terminal
    overflow: hidden
    height: 100%
    
h1
    color: variables.$text-color
    font-size: calc(30px + 1.2vw)
    font-weight: normal

span
    color: variables.$text-color

.container
    height: 100%

@keyframes blink
    0%
        opacity: 1
    49%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 0
    
.blinking::after
    animation: blink 1s steps(2) infinite
        
.typeWriter::after
    content: "|"
    width: 0
    height: 0
    margin-left: -2px
    display: inline-block
    opacity: 1
    color: variables.$highlight-color

.typeWriter
    font-size: 1.5rem
    color: variables.$text-color-darker

.backgroundText
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: -1
    overflow: hidden
    color: variables.$background-color-lighter 
    font-size: variables.$background-font-size
    text-shadow: functions.shadow(variables.$background-color-lightest, 0.25, 20)

    -webkit-user-select: none    
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    
    white-space: -moz-no-wrap
    white-space: -o-no-wrap
    white-space: nowrap

.introText
    display: block
    margin: 0 0 0.5% 0

.introText::after
    content: ';'
    text-shadow: functions.shadow(variables.$highlight-color, 0.2, 10)

.introContainer
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    transform: translate(-22%, -30%)

button
    background-color: variables.$background-color-lighter
    display: block

.header
    margin-top: 5%
    text-align: center
    display: block
    font-weight: 900
    font-family: variables.$font-headings
    text-shadow: functions.shadow(variables.$highlight-color, 0.25, 20)

.navigationList
    list-style-type: none
    padding: 0
    
.navigationList li
    display: inline-block
    text-decoration: underline
    font-size: 15px
    

.navigationList li:hover
    color: white
    
.navigationList::before
    content: "["
    display: inline-block
    font-size: 15px

.navigationList::after
    content: "]"
    display: inline-block
    font-size: 15px

.listItem:not(:last-child)::after
    content: ","
    display: inline-block
    font-size: 15px

footer
    position: fixed
    bottom: 1%
    right: 1%
    color: variables.$text-color-darker
    font-size: .7rem