@use 'variables'

.allProjects
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 12px
    width: 70%
    height: 55vh
    margin: auto

.projectContainer
    box-sizing: border-box
    display: inline-block
    background-color: variables.$background-color-lighter

    margin: .2%
    transform-style: preserve-3d

.projectContainer::before, .projectContainer::after
    content: ''
    position: absolute
    width: 0
    height: 0
    border-left: 6px solid transparent
    border-bottom: 6px solid variables.$highlight-color
    transform: translateZ(-1px)

.projectContainer::before
    left: 0
    display: none

.projectContainer::after
    right: 0
    bottom: 0
    display: none

.projectContainer:hover::before
    display: block
    transform: translate(-6px) 

.projectContainer:hover::after
    display: block
    transform: translate(0px, 6px) rotate(180deg) 

.projectContainer:hover
    transform: translate(6px, -6px)
    box-shadow: -6px 6px variables.$highlight-color

.projectImg
    display: inline-block
    align-self: left
    float: left
    width: 30%
    height: 100%
    margin: 0
    background-repeat: no-repeat
    background-size: cover
    //clip-path: polygon(0 0, 94% 0, 100% 23%, 100% 100%, 0 100%)
    transition: filter .2s

.projectInfo
    display: inline-block
    box-sizing: border-box
    padding: 3%
    width: 70%
    height: 100%

.projectTitle
    margin: 0
    font-weight: bold

.projectDescription
    display: inline-block
    font-weight: lighter
    font-size: 0.8rem
    line-height: 1.2rem
    margin-bottom: 10%
    color: variables.$text-color-dark

.tagContainer
    position: absolute
    bottom: 5%
    padding-bottom: 2%

.projectTag
    font-size: 0.75rem
    color: variables.$text-color-darker
    margin-right: 1rem

.projectTag:hover
    color: variables.$highlight-color
    cursor: default

@media only screen and (max-width: 1500px)
    .allProjects
        grid-template-columns: 2fr
        width: 80%
        grid-template-columns: repeat(2, 1fr)
    .hidden
        display: none
    body
        overflow-y: scroll

@media only screen and (max-width: 1100px)
    .allProjects
        grid-template-columns: 1fr
        width: 80%